[alias]
	co = checkout
	st = status
	cg = config
	stats = shortlog
	cob = checkout -b
	cod = checkout develop
	com = commit -m
	cam = !git add -A && git commit -m
	po = push origin
	psup = push --set-upstream origin
	plo = pull origin
	plom = !git pull origin $(git_main_branch)
	fod = !git fetch && git merge origin/develop
	lgg = log --graph --color
	lo = log --oneline --decorate --color --graph
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
[user]
	name = John Oerter
	email = john.oerter@passportinc.com
[pull]
	rebase = false
[core]
  editor = nvim
[gitlab]
	user = joerter
[gitlab "pdev.io"]
	user = joerter
[gitlab "gitlab.pdev.io/api/v4"]
	user = joerter
[github]
	user = joerter
