[alias]
	cam = !git add -A && git commit -m
	cg = config
	co = checkout
	cob = checkout -b
	cod = checkout develop
	com = commit -m
	cz = !git-cz
	fom = !git fetch && git merge origin/main
	lgg = log --graph --color
	lo = log --oneline --decorate --color --graph
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	plo = pull origin
	plom = !git pull origin $(git_main_branch)
	po = push origin
	psup = push --set-upstream origin
	recent = branch --sort=-committerdate
	spl = !git stash && git pull origin && git stash pop
	st = status
	stats = shortlog
[user]
	name = John Oerter
	email = john@johnoerter.me
[pull]
	rebase = false
[core]
	editor = nvim
[github]
	user = joerter
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main




